<header>
 <div class="toolbar">
  <%= link_to image_tag("https://img.icons8.com/officel/344/back.png"),groups_path, class: "back_btn" %>
  <h5 class="toolbar__groups">New Transaction</h5>
 </div>
  <div></div>
</header>
<div>
  <%= form_with model: @entity do |form| %>
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name,class: "form-control" %>
    </div>
    <div>
      <%= form.label :amount, style: "display: block" %>
      <%= form.number_field :amount, step: 1,class: "form-control" %>
    </div>
    <div>
      <%= form.label :group_id %>
      <%= form.collection_select :group_id, @groups, :id, :name,:prompt => true, class: 'form-control'  %>
    </div>
    <div>
    <button class="register bottom3">  <%= form.submit %></button>
    </div>
  <% end %>
</div>