<header class="d-flex justify-content-between align-items-center header">
  <%= link_to image_tag("https://img.icons8.com/officel/344/back.png"),groups_path, class: "back_btn" %>
  <h5>Transactions</h5>
  <div></div>
</header>
<% if flash[:notice] %>
  <p class="alert alert-primary" role="alert"><%= notice %></p>
<% end %>
<%= render @group %>
<% @entities.each do |entity| %>
  <div class="d-flex justify-content-between mb-2 mx-4 p-2" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;background:#fffdf4;">
    <div><%= entity.name.capitalize %></div>
    <div>$<%= entity.amount %></div>
  </div>
<% end %>
<div>
  <div class="d-flex justify-content-center fixed-bottom new-btn">
    <%= link_to "New transaction", new_entity_path %>
  </div>
</div>